*.iml
!.idea
.idea/*
docs/_site
.DS_Store
!/.idea/runConfigurations
!/.idea/runConfigurations/*/
video/dashboards/project/build.properties

.gradle
!gradle-wrapper.jar
build/
build-ft/
out/

**/kubernetes/Dockerfile
video/ft/kubernetes/lakitu
!video/ft/kubernetes/Dockerfile
**/kubernetes/start-app.sh
